DATABASE_URL="file:./dev.db"
NEWSFLOW_API_KEY="nf_live_sec_9942a8b7e1034f68a"
ADMIN_PASSWORD="admin_newsflow_secret_2026"
ADMIN_JWT_SECRET="newsflow_super_secure_jwt_secret_key_random_hex_2026"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
TYPESAFE_API_KEY=" \
